.navbar-dark {
  padding: 20px 10px 10px 10px !important;
}

.navbar-dark h3 {
  font-size: 35px;
  color: #fff;
}

.tic-tac-game {
  margin-top: 50px;
}

section {
  text-align: center;
}
.game__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 453px;
  margin: 50px auto;
}
.game_cell {
  background-color: #04ffe8;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 150px;
  font-size: 60px;
}
